node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/package
/src/lib/generated/build-info.ts
/src-tauri/build-meta.json
/src-tauri/tauri.macos.conf.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
